

.main-div{
    
    display: flex;
 background-color: black; 

}

.div-1{
    
    
width: 80%;
height: 1000px;
    
}
.img{
    width: 100%;
    height:100% ;
}
.div-2{
    /* box-shadow: grey; */
margin-top: 50px;    
    width: 100%;
    /* background-color: #001008; */
    background-color: rgb(000, 013, 010);



}

tr td h3{
     
    color: white;
}
tr td h1{
    font-size: 60px;
    color: white;
    
}
tr td h4{
    color:gray;
}

.div2-chil{

    border-bottom: 1px solid grey;
    margin: 40px;
    

}
#h3{
    color: #009010;
    /* color: rgb(210, 255,000); */
}

.div-servic{
    margin-left: 40px;
}

tr td h2{
    font-size: 40px;
    color: white;
}


div h1{
    color: white;
}

.div2-child2{
    display: flex;
    margin-left: 40px;
}

.div2-child3{
    display: flex;
    border-bottom: 01px solid grey;
  margin-left: 40px;
}
